.first-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: rgb(76, 144, 207);
  background: linear-gradient(0deg, rgb(77, 143, 206) 0%, rgb(59, 80, 117) 0%);
  justify-content: space-around;
  align-items: center;
  background-position: center;
  color: white;
  .title-container {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
