.first-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(192, 203, 221, 1) 0%,
    rgba(97, 171, 238, 1) 100%
  );
  justify-content: space-around;
  align-items: center;
  background-position: center;
  color: rgb(75, 75, 75);
  // .title-container {
  //   height: 80vh;
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   align-items: center;
  //   text-align: center;
  // }
}
