.Stepper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  width: 100%;
  max-width: 800px;
  height: 7px;
  border-radius: 0.5rem;
  margin-top: 1.5rem;
  background-color: #f197bd;
  align-items: center;
  @media (max-width: 600px) {
    height: 5px;
  }
}

.Step-active {
  transform: scale(1.2);
  border: 2px solid rgba(237, 134, 93, 0.747);
  border-radius: 50%;
  transition: all 0.3s;
}
