.btn {
  background-color: #12ad33;
  font-family: "Yekan";
  font-size: 1.5rem;
  padding: 0.5rem 3rem;
  color: #e3e3e3;
  font-weight: bold;
  border: none;
  cursor: pointer;
  margin-top: 2rem;
  border-radius: 50px;
  transition: all 0.4s;

  &:hover {
    transform: scale(1.04);
    background-color: #18d842;
  }

  &:focus {
    outline: none;
  }
}
